@import '../index.css';
/* @import './Skills.css'; */
.main-title{
  font: caption;
  padding: 5px 3px;
  background-color: var(--main-h-colors);
  text-transform: capitalize;
  color: white;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.project-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--main-h-colors);
}
.p-name {
    font-size: 1rem;
    text-decoration: none;
    margin: auto 10px;
    cursor: pointer;
}
.project-div:hover{
    color: white;
    background-color: var(--main-h-colors);
    transform:scale(1.05);
    transition: all .3s ease-in-out;
}
.project-discription {
    margin: auto 0px;
    font-size: .8rem;
    font-family: initial;
}
.inner-title {
    color: var(--main-h-colors);
    font-size: .9rem;
    margin-top: 1rem;
}
@media (max-width: 768px) {
  .main-title{
    font-size: .8rem;
  }
}