:root {
  --main-h-colors:rgb(142, 124, 225);/* You can change this to any color */
  --main-p-colors: rgb(81, 106, 154); /* You can change this to any color */
  --bg-colors: 
}

body {
  background-image: url('new-bg-img.png');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
