:root {
  --main-h-colors:rgb(142, 124, 225);/* You can change this to any color */
  --main-p-colors: rgb(81, 106, 154); /* You can change this to any color */
  --bg-colors: 
}

body {
  background-image: url('new-bg-img.png');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* For NavBar Css */
.nav_bar{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.nav-Items{
  text-decoration: none;
  font-size: 18px;
  padding: 5px 20px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.right .nav-Items:hover{
  border-bottom: 2px solid var(--main-h-colors);
  border-radius: 1px;
  color: teal;
}
.left{
  color: var(--main-h-colors);
  font-size: 2rem;
}
/* Home Section Css */
.hire-div{
  position: fixed;
  top: 80vh;
  right: 16.5vw;
  /* box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 1);
}
.hire-btn {
  background-image: linear-gradient(135deg, #008aff, #86d472);
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 10em;
  z-index: 2;
}

.hire-btn:hover {
  color: #fff;
}

.hire-btn .hire-span {
  align-items: center;
  background: #0e0e10;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.hire-btn:hover .hire-span {
  background: transparent;
}
/* For Home Section css */
.item-box{
  text-align: center;
  overflow-y:auto;
  height: 60vh;
  width: 40vw;
  display: block;
  position: fixed;
  top: 20%;
  right: 5vw;
  padding: 1rem;
  /* border: #008aff 1px solid; */
}
.item-box::-webkit-scrollbar {
  width: 5px;
}
.item-box::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid var(--main-h-colors)}
.home-item{
  text-align: center;
  display: flex;
  flex-direction: column;

}
.intro{
  padding-top: 14px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
  text-shadow: 2px 2px 0px #5d5e7a,
             
}

.intro-name{
  
  font-size: 30px;
  font-weight: 700;
  color: var(--main-h-colors);
  text-shadow: 2px 2px 4px blue;
  
}
.resume-div{
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* .resume-btn{
  color: black;
  background-color: var(--main-h-colors);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 1000;
  border-radius: 5px;
}
.resume-btn:hover{
  background-color: darkcyan;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
} */
 .resume-btn {
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: large;
  padding: 4px 6px;
  color: #fff !important;
}

.resume-btn::after {
  max-width: 100%;
  height: 2px;
  display: block;
  content: "";
  background: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  opacity: 1;
  margin-bottom: -6px;
  margin-top: 1px;
}

.resume-btn-div {
  display: flex;
}
@media (max-width: 768px){
  .nav-Items{
  font-size: .8rem;
  padding: 5px 10px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.left{
  color: var(--main-h-colors);
  font-size: 1rem;
}
  .item-box{
    padding: 0.1rem;
    width: 60vw;
    height: 30vh;
    top: 19vh;
  }
  .intro{
    font-size: .68rem;
  }
  .intro-name{
    font-size: 1rem;
  }
  .resume-div{
    margin-top: -2rem;
  }
  .resume-btn{
    font-size: .8rem;
  }
  .hire-div{
    top: 85vh;
    right: 4vw;
  }
}
